version: 2
updates:
- package-ecosystem: cargo
  directory: "/"
  schedule:
    interval: weekly
  commit-message:
    prefix: "maint"
    include: "scope"
  open-pull-requests-limit: 10
  groups:
    # Specify a name for the group, which will be used in pull request titles
    # and branch names
    all:
      # Define patterns to include dependencies in the group (based on
      # dependency name)
      patterns:
        - "*"

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "monthly"
