name: 'Rust-CI'

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  security-audit:
    permissions:
      contents: read # for actions/checkout to fetch code
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
      with:
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443
          ghcr.io:443
          github.com:443
          mirror.gcr.io:443
          objects.githubusercontent.com:443
          pkg-containers.githubusercontent.com:443
          release-assets.githubusercontent.com:443
          check.trivy.dev:443
          get.trivy.dev:443
          crates.io:443
          index.crates.io:443
          static.crates.io:443
          downloads.aquasec.com:443

    - name: Checkout the code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v2
      with:
        fetch-depth: 0

    # Not a dupe: this is for humans
    - name: Run vulnerability scanner in repo mode
      if: github.actor != 'dependabot[bot]'
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.2.2
      with:
        scan-type: 'fs'
        ignore-unfixed: true
        format: 'table'
        vuln-type: 'library'
        severity: 'HIGH,CRITICAL'
        scanners: 'vuln,config,secret'

    # Not a dupe: this is for dependabot
    - name: Run vulnerability scanner in repo mode
      if: github.actor == 'dependabot[bot]'
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.2.2
      with:
        scan-type: 'fs'
        ignore-unfixed: false
        format: 'table'
        vuln-type: 'library'
        severity: 'HIGH,CRITICAL'
        scanners: 'vuln,config,secret'

  test:
    if: github.repository_owner == 'Kapiche'
    runs-on: ubuntu-latest
    needs: security-audit
    strategy:
      max-parallel: 4

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
      with:
        egress-policy: block
        allowed-endpoints: >
          github.com:443
          static.rust-lang.org:443
          storage.googleapis.com:443
          crates.io:443
          index.crates.io:443
          static.crates.io:443
          api.github.com:443

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        fetch-depth: 0

    - name: Rust toolchain
      uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
      with:
        toolchain: stable
        components: rustfmt

    - uses: step-security/rust-cache@f8fba7098297c8c53a7c9a30575ec2ad4ad85056 # v2.8.2

    - name: Run cargo check
      uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
      with:
        command: check

    - name: Run cargo test
      uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
      env:
        RUST_BACKTRACE: 1
      with:
        command: test

    - name: Run cargo doc
      uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
      with:
        command: doc
        args: --no-deps

  clippy:
    if: github.repository_owner == 'Kapiche'
    runs-on: ubuntu-latest
    needs: security-audit
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
      with:
        egress-policy: block
        allowed-endpoints: >
          crates.io:443
          index.crates.io:443
          github.com:443
          static.crates.io:443
          static.rust-lang.org:443
          api.github.com:443

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        fetch-depth: 0

    - name: Install minimal stable with clippy and rustfmt
      uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
      with:
        toolchain: stable
        components: clippy

    - run: cargo clean

    - name: Run cargo clippy
      uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
      with:
        command: clippy
        args: --workspace -- -D warnings

  rustfmt:
    if: github.repository_owner == 'Kapiche'
    runs-on: ubuntu-latest
    needs: security-audit
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
      with:
        egress-policy: block
        allowed-endpoints: >
          github.com:443
          static.rust-lang.org:443
          api.github.com:443

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      with:
        fetch-depth: 0

    - name: Install minimal stable with rustfmt
      uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
      with:
        toolchain: stable
        components: rustfmt

    - name: Run cargo fmt
      uses: actions-rs/cargo@844f36862e911db73fe0815f00a4a2602c279505 # v1.0.3
      with:
        command: fmt
        args: --all -- --check

  semgrep:
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: write  # for semgrep to add comments in pull request
    name: semgrep-scan
    runs-on: ubuntu-latest
    needs: security-audit
    container:
      image: returntocorp/semgrep
    if: github.actor != 'dependabot[bot]'

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
      with:
        egress-policy: audit

    - name: Checkout the code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v3.0.2
      with:
        fetch-depth: 0

    - run: semgrep ci
      env:
        SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}
